<h1>SVG CANVAS</h1>

        <button onclick="window.location.href='/users/<%= current_user.id %>/projects'">Saved Projects</button>
                           
                            
                      <div>
                        <li>Make Face Library</li>
                        <li>Face Color Library</li>
                        <li>Eye Library</li>
                        <li>Nose Library</li>
                        <li>Mouth Library</li>
                      </div>      
<!--                                           # am i interpolating these correctly?  why is it saying params not correct?
 -->
                            <button onclick="window.location.href='/users/#{params[:user_id]}/projects/:id">Scrap Project</button>
                            <button onclick="window.location.href='/users/#{params[:user_id]}/projects/new'">New Project</button>
                            <button onclick="window.location.href='/users/#{params[:user_id]}/projects'">Save Project</button>
                            <button onclick="window.location.href='????'">Share Project</button>