<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Face</title>
  <style>
    #smirk, #smile, #frown, .eye {
      display: none;
    }
  </style>
</head>
<body>
  <svg id="place" height="500" width="500">
  <g id="face-group">
    <g class="face" id="circle">
       <circle cx="250" cy="250" r="200" stroke="black" stroke-width="3" fill="#CA0" />
       </g>
        <g class="face" id="rectangle"
         <rect rx="67.76" ry="114.123" width="231.098" height="234.665" fill="/>
        
      </g>
    <g id="mouth-group">
      <g class="mouth" id="smirk">
        <ellipse cx="200" cy="340" rx="80" ry="35" fill="black" />
        <ellipse cx="205" cy="335" rx="83" ry="35" fill="#CA0"/>
      </g>
      <g class="mouth" id="frown">
        <ellipse cx="250" cy="340" rx="123" ry="55" fill="#CA0" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="350" rx="123" ry="55" fill="#CA0"/>
      </g>
      <g class="mouth" id="smile">
        <ellipse cx="250" cy="310" rx="132" ry="80" fill="white" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="270" rx="130" ry="80" fill="#CA0" stroke="black" stroke-width="10" />
        <ellipse cx="250" cy="260" rx="140" ry="80" fill="#CA0"/>
      </g>
    </g>
    <g class="eye" id="left-eye-group">
      <ellipse cx="200" cy="180" rx="45" ry="65" style="fill:white;stroke:black;stroke-width:2" />
      <g id="left-pupil-group">
        <circle class="pupil-down pupil" cx="200" cy="220" r="23" stroke="black" stroke-width="3" fill="black" />
        <circle class="pupil-up pupil" cx="200" cy="140" r="23" stroke="black" stroke-width="3" fill="black" />
      </g>
    </g>
    <g class="eye" id="right-eye-group">
      <ellipse cx="300" cy="180" rx="45" ry="65" style="fill:white;stroke:black;stroke-width:2" />
      <g id="right-pupil-group">
        <circle class="pupil-down pupil" cx="300" cy="220" r="23" stroke="black" stroke-width="3" fill="black" />
        <circle class="pupil-up pupil" cx="300" cy="140" r="23" stroke="black" stroke-width="3" fill="black" />
      </g>
    </g>
  </svg>
  <h2>Mouths</h2>
  <ul id="mouth-buttons">
    <li onclick="changeMouth(this)" value="smirk">smirk</li>
    <li onclick="changeMouth(this)" value="smile">smile</li>
    <li onclick="changeMouth(this)" value="frown">frown</li>
  </ul>
  <h2>Eyes</h2>
  <ul id="eye-buttons">
    <li onclick="changeEye(this)" value="pupil-down">down</li>
    <li onclick="changeEye(this)" value="pupil-up">up</li>
  </ul>

  <script>
  function changeFace(buttonObj) {
    var faces = document.querySelectorAll(".face");
    for (var i = 0; i < faces.length; i++) {
      var face = faces[i];
      face.style.display = "none"
    }
  }

    function changeMouth(buttonObj) {
      var mouths = document.querySelectorAll(".mouth");
      for (var i = 0; i < mouths.length; i++) {
        var mouth = mouths[i];
        mouth.style.display = "none";
      }
      var mouthSVG = document.getElementById(buttonObj.innerHTML);

      mouthSVG.style.display = "block";
    }

    function changeEye(buttonObj) {
      var eyes = document.querySelectorAll(".eye");
      for (var i = 0; i < eyes.length; i++) {
        var eye = eyes[i];
        eye.style.display = "block";
      }

      var pupils = document.querySelectorAll(".pupil");
      for (var i = 0; i < pupils.length; i++) {
        var pupil = pupils[i];
        pupil.style.display = "none";
      }

      var pupilSVGs = document.getElementsByClassName("pupil-" + buttonObj.innerHTML);
      for (var i = 0; i < pupilSVGs.length; i++) {
        var pupilSVG = pupilSVGs[i];
        pupilSVG.style.display = "block";
      }
    }
  </script>
</body>
</html>