



               <div class="dividewhite4"></div>

               <div class="grid container-fluid ">

                  <div id="posts" class="row popup-container">

                     <div class="grid-item posters misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/SaveFace.png" class="img-responsive" alt="img11"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>One</h3>
                                    <p>#media-objects #misc</p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item grid-sizer posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/02-01.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Two</h3>
                                    <p>#face #project</p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/red.png" class="img-responsive" alt="img11"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Three</h3>
                                    <p>#media-objects #misc</p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/orange.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Four</h3>
                                    <p>#media-objects #misc</p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>

                     <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/thumbs/05-01.jpg" class="img-responsive" alt="img11"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Five</h3>
                                    <p>#posters #media-objects </p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects misc col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/thumbs/08-01.jpg" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Six</h3>
                                    <p>#media-objects #misc</p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/thumbs/07-01.jpg" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Seven</h3>
                                    <p>#posters</p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/thumbs/06-01.jpg" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Eight</h3>
                                    <p>#others </p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>

                     <div class="grid-item posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/thumbs/09-01.jpg" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Nine</h3>
                                    <p>#others </p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item posters media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/thumbs/10-01.jpg" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Ten</h3>
                                    <p>#others </p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/diamond.png" class="img-responsive" alt="img03"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Eleven</h3>
                                    <p>#others </p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>
                     <div class="grid-item media-objects posters col-lg-4 col-md-4 col-sm-6 nopadding">
                        <div class="item-wrap">
                           <figure class="effect-goliath">
                              <img src="/images/portfolio/purple.png" class="img-responsive" alt="img12"/>
                              <figcaption>
                                 <div class="fig-description">
                                    <h3>Twelve</h3>
                                    <p>#others </p>
                                 </div>
                                 <a href="/portfolio-item.html">View more</a>
                              </figcaption>
                           </figure>
                        </div>
                     </div>

                  </div>

               </div>

            </div>
         </section>
                           <%= yield %>
         <!-- /Portfolio Block 

