
        <button onclick="window.location.href='/users/<%= current_user.id %>/projects'">Home</button>
                                    <button onclick="window.location.href='/users/:id">Back To The Drawing Board</button>



<h1>Completed Projects</h1>
<h1>Works In Progress</h1>